[submodule "opengdb"]
	path = opengdb
	url = https://github.com/FAU-CDI/open_gdb.git
[submodule "wisski_data_importer"]
	path = wisski_data_importer
	url = ssh://git@gitlab.nasarek.dev:2424/rnsrk/wisski_data_importer.git
